---
namespace: maps
permalink: /map/
permalink_es: /mapa/
permalink_de: /karte/
permalink_fr: /carte/
permalink_pt-br: /mapa/
permalink_zh-cn: /地图/
permalink_ru: /карта/
permalink_id: /peta/
permalink_hi: /नक्शा/
title: titles.map
---

<html>
	<head>
		{% include head.html %}
	</head>

	<body>
		{% include header.html %} {% capture map_title %} {% t titles.map %} {% endcapture %} {% capture map_hook %} {%
		tf frontpage/hook.md %} {% endcapture %} {% capture map_description %} {% tf frontpage/description.md %} {%
		endcapture %} {% include masthead.html url=page.url title=map_title hook=map_hook description=map_description %}

		<div class="container">
			<!-- Filter Form -->
			<div class="row">
				{% google_map width="100%" zoom="2" id="places" src="_data/conferences.yml" no_cluster %}
			</div>
		</div>
		{% include sneks.html %}
		<footer>{% include_cached footer.html %}</footer>
	</body>
</html>
