<div class="container">
	<div class="row">
		<div class="col-12">{% tf footer/maintainer.md %}</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-12">{% tf footer/terms.md %}</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-12" style="font-size: 0.7rem; opacity: 0.8">{% tf footer/jesper.md %}</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="social-links">
				<a href="https://web.brid.gy/r/https://pythondeadlin.es" class="social-icon" rel="me">
					<i class="fa-brands fa-mastodon fa-lg"></i
				></a>
				<a href="https://bsky.app/profile/pythondeadlin.es" class="social-icon" rel="me">
					<i class="fa-brands fa-bluesky fa-md"></i
				></a>
			</div>
		</div>
	</div>
</div>
{% include google_analytics.js %}
